@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/assets/background.png") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.welcome-text {
  margin: 2em 2em 5em 1.5em;
  padding: 20px;
  background-color: rgba(128, 0, 0, 0.9);

  border-radius: 10px;
}

.welcome-text h1 {
  font-family: "Great Vibes", cursive;
  font-size: 42px;
}

.welcome-text p {
  font-size: 20px;
  margin: 10px 0 0;
  font-weight: bold;
}

.file-upload-label {
  display: inline-block;
  padding: 12px 20px;
  background: white;
  color: rgba(128, 0, 0, 0.9);
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.9em;
  width: 11rem;
}

/* .file-upload-label.input:hover {
  background: rgba(128, 0, 0, 0.9);
  transform: scale(1.05);
  color: white;
} */