.submit-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9em;
    border: none;
    width: 13rem;

    &:hover {
      background: rgba(#0A0A0A, 0.9);
      transform: scale(1.02);
      color: white;
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
  
  .remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(red, 0.4); 
    color: white; 
    border: none; 
    border-radius: 100%; 
    width: 1.5rem; 
    height: 1.5rem; 
    padding: 0; 
    cursor: pointer;
    font-size: 20px; 
    line-height: 1; 

    &:hover {
      background-color: rgba(red, 0.6); 
    }
  }

  .upload-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
  }