.photo-upload-container {
    padding: 20px;
    border-radius: 5%;
    text-align: center;
    width: 90%;
    max-width: 500px;
  }

.file-input-container {
  background-color: white !important;
  display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;

    &:hover {
      transform: scale(1.01);
    }
  }

  .icon-and-text-container {
    display: flex;
    justify-content: center;
  }